<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="this is the page of admin ">
    <meta name="author" content="Sanjay sujir">
    <title>Admin | Page </title>
    <link rel="stylesheet" href={{url_for('static',filename='/css/admin.css')}}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="Head">
        <form style="display:flex; justify-content: center; align-items:center;" action="/admin-log-out" method='post'>
            <button class="Log-out">
                Log out
            </button>
        </form>
        <div class="head-title">
            <h1>
                Probe Code
            </h1>
        </div>
        <div class="profile-container">
            <div class="head-profile">
                <h2>S</h2>
            </div>
        </div>
    </div>
    <main class="Container">
        <div class="Profile">
            <div style=" display:flex; justify-content:center;">
                <div class="Profile-Piture">
                    <h4>S</h4>
                </div>
            </div>
            <div class="main-profile-content">
                <p>
                    {{Name}} {{Last}}
                    <br>
                    {{Email}}
                    <br>
                    Admin
                </p>
            </div>
        </div>
        <div class="Content">
            <div>
                <h3>Probe Code</h3>
            </div>
            <div class="total-number">
            <p style="text-align: center; margin-left :20px; font-size:25px;">Total Number of Users : {{data}}</p> 
            </div>
            <div class="total-number">
                <p style="text-align: center; margin-left :20px; font-size:25px;">Total Number of csv data  : {{csv_data}}</p> 
            </div>
            <div class="Button-div">  
                <button id="Button">
                    Import Csv 
                </button>
            </div>
        </div>
    </main>
    <section class="User-Db-sec">
        <div class="User-Db"> 
            <div>
               <h6>
                 User Data 
               </h6> 
            </div>
            <div id="User-imforamtion-Parent">    
                
            </div>
        </div>
    </section>
    <section class="User-Db-sec">
        <div class="User-Db"> 
            <div>
               <h6>
                 Csv Data
               </h6> 
            </div>
            <div id="User-imforamtion-csv-parent">    
                
            </div>
        </div>
    </section>
    <dialog id="Dialog">
        <div class="Dialog-main-div">
            <div>
                <h2>Import External File</h2>
            </div>
            <form class="Dialog-main" action="/import-csv" method="post" id="Dialog-Form" enctype="multipart/form-data">
                <input type="file" name="csv_file" id="csv-file">
            </form>
            <div class="Button-dialog-div">
                <button id="Button-Dialog-ok">
                    ok
                </button>
                <button id="Button-Dialog-cancel">
                    cancel
                </button>
            </div>
        </div>
    </dialog>
    <script>
        Total = {{data}}
        Total_Csv = {{csv_data}}
    </script>
    <script src={{url_for('static',filename='/js/admin.js')}}></script>
</body>
</html>