<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <meta name="description" content="This is the page of login form">
    <link rel="stylesheet" href={{url_for("static",filename='css/login.css')}}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <main class="Main">
        <form class="Main-Div" id="form" action="/login-data" method='post'>
            <div class="Image-Login">
                <img src="{{url_for('static',filename='img/Login_Icon.png')}}" class="Image" >
            </div>
            <div class="Sub-Div">
                <h1>Login</h1>
            </div>
            <div class="Input">
                <input type="text" placeholder="Username or  Email" class="Input-Username" id="Name" name="name_email" required>
            </div>
            <div class="Input-Password">
                <input type="Password" placeholder="Password " class="Input-Username" id="Password"  name= "password" required>
            </div>
            <div class="Button-Div">
                <button class="Button" id="Button">Submit</button>
            
            </div>
            <div class="Signup-Link">
                <p style="margin: 0;
                display :inline ;
                margin-left : 20px ;
                ">
                    Don't have an  account?
                </p>
                <a href="{{url_for('Sign_Up')}}" class="Link-Word"> Create</a>
            </div>
    
        </form>
    </main>
    <script src={{url_for('static',filename='js/Login.js')}}></script>
</body>
</html>