 body{
    margin: 0;
    margin-top: 110px;
    height: 100%;
    background-image: url("/static/img/baground.jpg");
    font-family: 'Roboto', sans-serif;
}

.Container{
    display: flex;
    justify-content: center;
    
}

.Head{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Brush Script MT', cursive;
    padding-bottom: 10px;
    padding-top: 10px;

}

h1{
    
    font-size: 50px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.head-profile{
    
    width: 60px;
    height: 60px;
    background-color: blueviolet;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.head-title{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.profile-container{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
}



.Data-Base-Imformation{
    width: 500px;
    margin-top: 40px;
    height: 500px;
    background-color: white;
}

.Profile-Piture{
    width: 140px;
    height: 140px;
    background-color: blueviolet;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 30px;
    
}

h4{
    font-size: 70px;
}

.Container{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.Profile{
    height: 400px;
    background-color: white;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    margin-right: 70px;
    margin-left: 50px;
    box-shadow: 1px 1px 40px black;
    flex-direction: column;
}
.Content{
    background-color: white;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 50px;
    box-shadow: 1px 1px 40px black;
    
}

.main-profile-content{
    display: flex;
    justify-content: center;

}

P{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    text-align: center;
    font-size: 40px;
    color: brown;
}



.Button-div{
    display: flex;
    justify-content: center ;
    margin-top: 100px;
}

#Button{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(37, 75, 155);
    border: 0;
    width: 200px;
    height: 40px;
}

#Button:hover{
    background-color: blue;
    cursor: pointer;
}

#Button:active{
    opacity: 0.5;
}

.Log-out{
    font-size: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: none;
    width: 150px;
    height: 20px;
    color: white;

}

.Log-out:hover{
    cursor: pointer;
    color: rgb(112, 108, 103);
}

.Log-out:active{
    opacity: 0.5;
}

.User-Db{
    width: 80%;
    height: 300px;
    background-color: white;
    margin-top: 100px;
    margin-bottom:  50px;
    box-shadow: 1px 1px 40px black;
    overflow: auto;

}

.User-Db-sec{
    display: flex;
    justify-content: center;
  
}

h6{
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    color: rgb(102, 61, 8);
    margin-bottom: 0;
}

.User-imformation{
    margin-top: 30px;
    width: 95%;
    height: 60px;
    border: 3px solid black;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 30px;
    
}

.user-imformation-h4{
    font-size: 20px;
    text-align: center;
}

.user-imf-div{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-right: 3px solid black;
}

#Edit-Button{
    margin: 0%;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(55, 55, 202);
    border: 0;
}

#Edit-Button:hover{
    background-color: blue;
    cursor: pointer;
}

#Edit-Button:active{
    opacity: 0.5;
}

#User-imforamtion-Parent{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Dialog{
    height: 400px;
    width: 500px;
}

h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.Dialog-main{
    display: flex;
    justify-content: center;
    margin-top: 100px;
   
}

#csv-file{
    margin-left: 100px;
    
}

.Button-dialog-div{
    margin-top: 150px;
    display: flex;
    justify-content: end;
}

#Button-Dialog-ok{
    background-color: rgb(66, 66, 184);
    color: white;
    border: 0;
    margin-right: 30px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
}

#Button-Dialog-ok:hover{
    background-color: blue;
    cursor: pointer;
}

#Button-Dialog-ok:active{
    opacity: 0.5;
}

#Button-Dialog-cancel{
    color: black;
    border: 2px solid black;
    margin-right: 30px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
}

#Button-Dialog-cancel:hover{
    background-color: gray;
    cursor: pointer;
    color: aliceblue;
}

#Button-Dialog-cancel:active{
        opacity: 0.5;
}

.User-imformation-csv{
    margin-top: 30px;
    width: 95%;
    height: 60px;
    border: 3px solid black;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    margin-left: 30px;
    
}